a {
    color: #FFD700; /* Цвет обычной ссылки */
    text-decoration: none; /* Убираем подчёркивание у ссылок */
}
a:visited {
    color: #8F8E8E; /* Цвет посещённой ссылки */
}
a:hover {
    color: #FFD700; /* Цвет ссылки при наведении */
    text-decoration: underline; /* Добавляем подчёркивание */
}